langchain
langchain-community
langchain-huggingface
chromadb
pypdf
sentence-transformers
streamlit
python-dotenv
transformers
torch
accelerate
faiss-cpu
tiktoken
unstructured
# python-magic-bin
nltk
spacy
langchain-text-splitters
numpy